#container { background-color: #ffffff; padding: 1.25em; width: 80%; min-width: 800px; max-width: 960px; margin-right: auto; margin-left: auto; box-shadow: 5px 5px 5px #1e1e1e;}
h1 { text-shadow: 3px 3px 3px #666;}
h2 {text-shadow: 1px 1px 0 #ccc;}